@font-face {
    font-family: poppins;
    src: url(./Poppins/Poppins-Regular.ttf);
}
* {
    font-family: poppins;
    color: white;
}

body {
    background-image: url(./images/joanna-kosinska-7ACuHoezUYk-unsplash.jpg);
    background-size: cover;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-row {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2em;
    border-radius: 30px;
}
.input-field {
    padding: 0 2rem 0;
}
label {
    text-transform: uppercase;
}
.login-button {
    width: 150px;
}
hr {
    width: 50px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}
.main-button > .learn-btn {
    background-color: orangered;
    color: white;
}
.input-field >  .login-btn  {
    background-color: orangered;
    color: white;
}
.main-title > a {
    text-decoration: none;
}
.main-button > .learn-btn:hover {
    background-color: orange;
}

.input-field > .login-btn:hover {
    background-color: orange;
}




@media screen and (maxwidth:768px) {
    
}